/*------------------------
           BODY
-------------------------*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: 1em;
  margin: 0;
  padding: 1em;
}

h3 {
  font-size: 1em;
  margin: 0;
  padding: 1em 0 0 1em;
}

h4 {
  font-size: 0.75em;
  font-weight: 200;
}

/*------------------------
           HEADER
-------------------------*/

header {
  background-color: #7477bf;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
}

header h1 {
  padding: 0.5em;
  font-size: 1em;
  flex: 1;
}

.bell-container {
  fill: white;
  width: 25px;
  padding-right: 0.5em;
  margin-right: 0.5em;
}

header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/*------------------------
        NAV/SIDENAV
-------------------------*/

nav {
  background-color: #4d4c72;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: nav;
}

nav svg {
  fill: white;
  padding: 10px 15px 5px 15px;
  width: 30px;
}

nav svg:hover {
  animation: pulse 0.4s backwards;
}

/*------------------------
          MAIN
-------------------------*/

.main-header {
  width: 100%;
  display: flex;
}

.greybox {
  flex: 1;
}

.greybox {
  box-shadow: -2px 2px 2px -2px grey;
}

.alert {
  font-weight: 300;
  width: calc(90% - 10px);
  margin: 0 auto;
  padding: 7px;
  margin-top: 1em;
  border-radius: 5px;
  background-color: #7477bf;
  color: white;
  display: flex;
  justify-content: space-between;
}

fieldset {
  padding: 0;
  border: 0;
}

.toggle {
  padding: 0 1em;
}

/*------------------------
      CHART SECTION
-------------------------*/

.widget-container-full,
.widget-container-half {
  height: 150px;
  padding: 1em;
}

/*------------------------
       SOCIAL STATS
-------------------------*/

.social-section,
.social-container,
.social-image {
  display: flex;
}

.social-section {
  flex-direction: column;
}

.social-container {
  width: calc(90% - 5px);
  margin: 0 auto;
  background-color: rgba(129, 119, 119, 0.05);
  box-shadow: 0 0 2px 0 rgba(24, 24, 24, 0.51);
}

.circle {
  margin: 10px;
  background-color: #7477bf;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-image {
  fill: white;
  width: 30px;
  height: 30px;
}

.social-text p {
  margin: 0;
  padding: 0 0 0 10px;
}

.social-text p:nth-child(1) {
  color: #7477bf;
  padding-top: 1em;
}

.social-text p:nth-child(2) {
  font-size: 2em;
  color: grey;
}

.social-section,
.widget-container-full,
.widget-container-half,
.member-container,
.message {
  box-shadow: 0 2px 2px -2px gray;
}

/*------------------------
        MEMBERS
-------------------------*/
.member-container a:link,
.member-container a:visited,
.member-container a:hover,
.member-container a:active {
  text-decoration: none;
}

.member-activity {
  display: flex;
  flex-direction: column;
}

.member-activity p {
  margin: 0;
}

.member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.profile-image {
  width: 60px;
  padding: 5px;
  border-radius: 50%;
}

.members-text p {
  margin: 0;
  text-align: center;
}

/*------------------------
        MESSAGE FORM
-------------------------*/

.message-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(95% - 10px);
}

.message-form * {
  font-weight: 300;
  padding: 1em;
  margin: 5px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid rgba(110, 110, 110, 0.089);
}

.form-area {
  padding-bottom: 5em;
}

.form-area,
.form-field {
  background-color: rgba(175, 175, 175, 0.205);
}

.button-primary {
  background-color: #7477bf;
  color: white;
  border: none;
}

/*------------------------
        MESSAGE FORM
-------------------------*/

.settings {
  display: flex;
  flex-direction: column;
}

.notification-wrapper {
  display: flex;
  align-items: center;
  padding: 1em;
}

.notification-wrapper label {
  flex: 1;
}

.notification-wrapper p {
  flex: 2;
}

.settings .form-field {
  border-radius: 10px;
  padding: 1em;
  margin: 0 1em;
}

.settings-button {
  display: flex;
  justify-content: space-evenly;
}

.settings-button * {
  font-weight: 300;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  flex: 1;
}

/*------------------------
        ANIMATIONS
-------------------------*/

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
}

/*------------------------
        MEDIA QUERIES
-------------------------*/
@media (min-width: 768px) {
  .newMembers,
  .activity {
    flex: 50%;
  }
  .traffic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav {
    flex-direction: column;
    justify-content: start;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
  nav {
    width: 60px;
  }
}

@media (min-width: 1024px) {
}
