/*------------------------
           BODY
-------------------------*/

body {
  font-family: "Montserrat", sans-serif;
  font: 1em;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: 1em;
  padding: 0.5em;
}

h4 {
  font-size: 0.75em;
  font-weight: 200;
}

/*------------------------
           HEADER
-------------------------*/

header {
  background-color: #7477bf;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
}

header h1 {
  padding: 0.5em;
  font-size: 1em;
  flex: 1;
}

.bell-container {
  fill: white;
  width: 25px;
}

header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/*------------------------
        NAV/SIDENAV
-------------------------*/

nav {
  background-color: #4d4c72;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: nav;
}

nav svg {
  fill: white;
  padding: 5px 1em 2px 1em;
  width: 30px;
}

/*------------------------
          MAIN
-------------------------*/

.main-header {
  width: 100%;
  display: flex;
}

.greybox {
  flex: 1;
  box-shadow: 0 0 2px 0 rgb(34 34 34 / 51%);
}

.alert {
  font-weight: 300;
  width: calc(90% - 10px);
  margin: 0 auto;
  padding: 7.5px;
  margin-top: 1em;
  border-radius: 5px;
  background-color: #7477bf;
  color: white;
  display: flex;
  justify-content: space-between;
}

.toggle h2 {
  margin: 0;
}

legend {
  font-size: 1em;
  font-weight: bold;
}

fieldset {
  padding: 0;
  border: 0;
}

/* CHART SECTION */

.line,
.bar,
.doughnut {
  height: 150px;
  padding: 5px;
}

/* SOCIAL STATS SECTION */

.social-section,
.social-container,
.social-image {
  display: flex;
}

.social-section {
  flex-direction: column;
}

.social-container {
  width: calc(90% - 5px);
  margin: 10px auto;
  justify-content: space-evenly;
  background-color: rgba(129, 119, 119, 0.05);
  box-shadow: 0 0 2px 0 rgba(24, 24, 24, 0.51);
}

.social-image {
  fill: #7477bf;
  width: 60px;
}

/*------------------------
        ANIMATIONS
-------------------------*/

/*------------------------
        MEDIA QUERIES
-------------------------*/
@media (min-width: 768px) {
  .line {
    padding: 7px;
    height: 300px;
  }
  .toggle {
    display: flex;
    justify-content: space-between;
  }
  nav {
    flex-direction: column;
    justify-content: start;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
  nav {
    width: 60px;
  }
}

@media (min-width: 1024px) {
}
